<h2 class="title_page">Team Members</h2>


<% @people.each do |person| %>
	<div>
		<div class="col-xs-12 col-sm-4 col-md-3">
	    <a data-toggle="modal" href="#myModal<%= person.id %>">

	      <figure class="photos_team container">
	        <%= image_tag avatar_url(person), :class => "img-responsive img-rounded img_profil" %>
	        <figcaption class="name text-center"><%= person.name %></figcaption>
	        <figcaption class="job text-center"><%= person.job_title %></figcaption>
	        <figcaption class= "city text-center"><%= person.city %></figcaption>       
	      </figure>
	    </a>
	  </div>

	 
	 <%= render partial: "modal", locals: {person: person} %>
	</div>

<% end %>
