<!DOCTYPE html>
<html class="color-back">
  <head>
    <title>Craftworks - <%= @title %></title>
    <%= stylesheet_link_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header>
      <nav> 

        <h1 class="text-center"><%= image_tag("enspiral.jpg", :class => "logo") %>CRAFTWORKS</h1>
        <p class="text-center">
          <%= link_to "TEAM", people_path, class: "btn btn-default btn-team #{"disabled" if params[:controller] == "people"}" %>
          <%= link_to "PROJECTS", projects_path, class: "btn btn-default btn-projects #{"disabled" if params[:controller] == "projects"}" %>
        </p>
      </nav>
    </header>
    <div class="color-back">
      <div class="container">
        <section class="dashes">
          <p>
            Enspiral Craftworks is a collective of programmers, designers and entrepreneurs who specialise in building web and mobile applications. We are particularly passionate about building apps which help grow and develop localisation, education, social enterprises, collectives, self management and networked based organisations. <br/> We also absolutely love all aspects of the learning/teaching process, practicing our crafts and creating value at the intersection of purpose and beauty.<a href="https://docs.google.com/document/d/1S_XT30No56YNRYEb113KPUoODIL3scOa5c4CsHAqKpA/edit#" title="Click to see the Craftwork documentation"> Learn more</a>
          </p>
        </section>

        <%= yield %>

      </div>
    </div>
  </body>
    <%= javascript_include_tag "jquery-2.0.3" %>
    <%= javascript_include_tag "bootstrap.min" %>
</html>