<!DOCTYPE html>
<html>
  <head>
    <title>Craftworks - Team</title>
    <%= stylesheet_link_tag "style" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "bootstrap.min" %>
  </head>

  <body>
    <div class="container">
      <header>
        <nav>
          <h1>CRAFTWORKS</h1>
          <p>
            <%= link_to "TEAM", people_path, class: "btn btn-default disabled" %>
            <%= link_to "PROJECTS", projects_path, class: "btn btn-default" %>
          </p>
        </nav>
      <header>

      <div class="dashes">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt velit esse cillum. <a href="https://docs.google.com/document/d/1S_XT30No56YNRYEb113KPUoODIL3scOa5c4CsHAqKpA/edit#" title="Acced to the Craftwork documentation">Learn more</a>
        </p>
      </div>

      <%= yield %>

    </div>
  </body>
    <%= javascript_include_tag "jquery-2.0.3" %>
    <%= javascript_include_tag "bootstrap.min" %>
</html>